In [1]:
import pandas as pd

In [5]:
from google.colab import files
uploaded=files.upload()

Saving airline_review.csv to airline_review.csv

In [6]:
df=pd.read_csv('airline_review.csv')

In [7]:
print(df)

      Unnamed: 0  rating                            header  \
0              0       2      service was mediocre at best
1              1       2  BA standards continue to decline
2              2       2      won the race to the bottom"
3              3       3            Not a reliable airline
4              4       1         It is a national disgrace
...          ...     ...                               ...
3611        3649       2   British Airways customer review
3612        3650       8   British Airways customer review
3613        3651       8   British Airways customer review
3614        3652       6   British Airways customer review
3615        3653       8   British Airways customer review

                   author        date           place  \
0             Gary Storer  2023-10-03  United Kingdom
1                A Jensen  2023-10-02  United Kingdom
2            John Rockett  2023-10-02  United Kingdom
3     Tatiana Bobrovskaya  2023-10-02  United Kingdom
4                A Dawson  2023-09-30  United Kingdom
...                   ...         ...             ...
3611             G Pardoe  2014-05-03  United Kingdom
3612           Guy Senior  2014-04-30  United Kingdom
3613          Jack Hughes  2012-08-30  United Kingdom
3614             W Benson  2012-08-29  United Kingdom
3615    Michael Dielissen  2012-08-29          Canada

                                                content aircraft  \
0      Just returned from Chicago, flew out 10 days ...     A380
1       BA standards continue to decline every time ...     A320
2       Awful. Business class check in queue just as...     A320
3       Not a reliable airline. You cannot trust the...     A320
4       I take comfort in reading the last ten or so...      NaN
...                                                 ...      ...
3611  Las Vegas-LGW 777 3 class. Business. The uniqu...      NaN
3612  An interesting contrast on recent Gatwick to T...      NaN
3613  Heathrow Marrakech. Had previously travelled o...      NaN
3614  HKG-LHR in New Club World on Boeing 777-300 - ...      NaN
3615  YYZ to LHR - July 2012 - I flew overnight in p...      NaN

      traveller_type       seat_type                               route  \
0     Couple Leisure   Economy Class  Chicago to Manchester via Heathrow
1           Business  Business Class           London Heathrow to Munich
2     Couple Leisure  Business Class                Heathrow to Istanbul
3           Business   Economy Class                    London to Geneva
4     Couple Leisure  Business Class                    Athens to London
...              ...             ...                                 ...
3611             NaN   Economy Class                                 NaN
3612             NaN   Economy Class                                 NaN
3613             NaN  Business Class                                 NaN
3614             NaN   Economy Class                                 NaN
3615             NaN   Economy Class                                 NaN

      date_flown  seat_comfort  cabin_staff_service  food_beverages  \
0     2023-10-01             2                    3               1
1     2023-09-01             2                    1               2
2     2023-09-01             2                    3               2
3     2023-10-01             4                    4               2
4     2023-09-01             1                    1               1
...          ...           ...                  ...             ...
3611         NaN             5                    5               5
3612         NaN             3                    3               3
3613         NaN             4                    3               2
3614         NaN             3                    1               2
3615         NaN             2                    3               2

      ground_service  value_for_money recommended  entertainment trip_verified
0                  2                2          no             -1  Not Verified
1                  1                1          no             -1      Verified
2                  1                1          no             -1  Not Verified
3                  1                1          no             -1      Verified
4                  1                1          no              1      Verified
...              ...              ...         ...            ...           ...
3611              -1                4         yes             -1           NaN
3612              -1                3          no              4           NaN
3613              -1                2          no              3           NaN
3614              -1                3          no             -1           NaN
3615              -1                3          no              3           NaN

[3616 rows x 20 columns]

## inspect the data

In [14]:
df.head() #Display the first few data of the dataset

,Unnamed: 0,rating,header,author,date,place,content,aircraft,traveller_type,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,recommended,entertainment,trip_verified
0,0,2,service was mediocre at best,Gary Storer,2023-10-03,United Kingdom,"Just returned from Chicago, flew out 10 days ...",A380,Couple Leisure,Economy Class,Chicago to Manchester via Heathrow,2023-10-01,2,3,1,2,2,no,-1,Not Verified
1,1,2,BA standards continue to decline,A Jensen,2023-10-02,United Kingdom,BA standards continue to decline every time ...,A320,Business,Business Class,London Heathrow to Munich,2023-09-01,2,1,2,1,1,no,-1,Verified
2,2,2,"won the race to the bottom""",John Rockett,2023-10-02,United Kingdom,Awful. Business class check in queue just as...,A320,Couple Leisure,Business Class,Heathrow to Istanbul,2023-09-01,2,3,2,1,1,no,-1,Not Verified
3,3,3,Not a reliable airline,Tatiana Bobrovskaya,2023-10-02,United Kingdom,Not a reliable airline. You cannot trust the...,A320,Business,Economy Class,London to Geneva,2023-10-01,4,4,2,1,1,no,-1,Verified
4,4,1,It is a national disgrace,A Dawson,2023-09-30,United Kingdom,I take comfort in reading the last ten or so...,NaN,Couple Leisure,Business Class,Athens to London,2023-09-01,1,1,1,1,1,no,1,Verified

In [11]:
df.info() # get a summary of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3616 entries, 0 to 3615
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           3616 non-null   int64
 1   rating               3616 non-null   int64
 2   header               3616 non-null   object
 3   author               3616 non-null   object
 4   date                 3616 non-null   object
 5   place                3616 non-null   object
 6   content              3616 non-null   object
 7   aircraft             1902 non-null   object
 8   traveller_type       2895 non-null   object
 9   seat_type            3614 non-null   object
 10  route                2891 non-null   object
 11  date_flown           2888 non-null   object
 12  seat_comfort         3616 non-null   int64
 13  cabin_staff_service  3616 non-null   int64
 14  food_beverages       3616 non-null   int64
 15  ground_service       3616 non-null   int64
 16  value_for_money      3616 non-null   int64
 17  recommended          3616 non-null   object
 18  entertainment        3616 non-null   int64
 19  trip_verified        2142 non-null   object
dtypes: int64(8), object(12)
memory usage: 565.1+ KB

In [10]:
df.isnull().sum() #check for missing values

Unnamed: 0                0
rating                    0
header                    0
author                    0
date                      0
place                     0
content                   0
aircraft               1714
traveller_type          721
seat_type                 2
route                   725
date_flown              728
seat_comfort              0
cabin_staff_service       0
food_beverages            0
ground_service            0
value_for_money           0
recommended               0
entertainment             0
trip_verified          1474
dtype: int64

#Handle missing values

In [16]:
df=df.dropna() # Drop rows with missing values

In [17]:
df=df.drop_duplicates() # Remove duplicate rows

In [18]:
df.info() #checking the summary again

<class 'pandas.core.frame.DataFrame'>
Index: 1323 entries, 0 to 2315
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1323 non-null   int64
 1   rating               1323 non-null   int64
 2   header               1323 non-null   object
 3   author               1323 non-null   object
 4   date                 1323 non-null   object
 5   place                1323 non-null   object
 6   content              1323 non-null   object
 7   aircraft             1323 non-null   object
 8   traveller_type       1323 non-null   object
 9   seat_type            1323 non-null   object
 10  route                1323 non-null   object
 11  date_flown           1323 non-null   object
 12  seat_comfort         1323 non-null   int64
 13  cabin_staff_service  1323 non-null   int64
 14  food_beverages       1323 non-null   int64
 15  ground_service       1323 non-null   int64
 16  value_for_money      1323 non-null   int64
 17  recommended          1323 non-null   object
 18  entertainment        1323 non-null   int64
 19  trip_verified        1323 non-null   object
dtypes: int64(8), object(12)
memory usage: 217.1+ KB

In [20]:
# rename the " unnamed: 0 column to meaning full " Index"
df.rename(columns={"Unnamed: 0":"Index"},inplace=True)
df.head(0)

Empty DataFrame
Columns: [Index, rating, header, author, date, place, content, aircraft, traveller_type, seat_type, route, date_flown, seat_comfort, cabin_staff_service, food_beverages, ground_service, value_for_money, recommended, entertainment, trip_verified]
Index: []

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1323 entries, 0 to 2315
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                1323 non-null   int64
 1   rating               1323 non-null   int64
 2   header               1323 non-null   object
 3   author               1323 non-null   object
 4   date                 1323 non-null   object
 5   place                1323 non-null   object
 6   content              1323 non-null   object
 7   aircraft             1323 non-null   object
 8   traveller_type       1323 non-null   object
 9   seat_type            1323 non-null   object
 10  route                1323 non-null   object
 11  date_flown           1323 non-null   object
 12  seat_comfort         1323 non-null   int64
 13  cabin_staff_service  1323 non-null   int64
 14  food_beverages       1323 non-null   int64
 15  ground_service       1323 non-null   int64
 16  value_for_money      1323 non-null   int64
 17  recommended          1323 non-null   object
 18  entertainment        1323 non-null   int64
 19  trip_verified        1323 non-null   object
dtypes: int64(8), object(12)
memory usage: 249.3+ KB

In [22]:
# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_airline_review.csv', index=False)